#main-logo {
    background: linear-gradient(0deg, #FDF100, #FDF100), linear-gradient(315deg, #FFF73F 0%, #FFC700 100%);
    margin-right: 15px;
}

.logo-name {
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: black;
}